body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: KenneyBold;
  src: url(./assets/font/Kenney\ Bold.ttf);
}

code {
  font-family: KenneyBold, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


